body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
    color: #1f2937;
    margin: 0;
}

code {
    font-family: 'Roboto Mono', monospace;
    background-color: #e5e7eb;
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-size: 0.9em;
    color: #4b5563;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    z-index: 10;
    height: 80px;
}

header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(8, 174, 215, 0.535);
    margin: 0;
}
header p{
    font-size: 1rem;
    color: #4b5563;
    margin: 0;
}

header nav {
    margin-top: 0.5rem;
}

header nav a {
    color: #4b5563;
    text-decoration: none;
    transition: color 0.3s;
    margin: 0 0.5rem;
}

header nav a:hover {
    color: cyan;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5rem;
    padding-top: 40px;
}

main {
    padding: 1.5rem;
}

.card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-bottom: 3rem;
}
#formularios h3{
    margin-bottom: 1rem;
    border-bottom: 2px solid #a8ffe5;
}
main h2 {
    font-size: 1.875rem;
    font-weight: bold;

    margin-bottom: 1rem;
}

.form-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
    align-items: start;
    
  }
  
  .form-layout form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .form-layout fieldset {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-layout legend {
    font-size: 1.1rem;
    font-weight: 600;
   
    padding: 0 0.5rem;
  }
  
  .form-layout label {
    font-weight: 500;
    color: #333;
  }
  
  .form-layout input[type="text"],
  .form-layout input[type="date"],
  .form-layout select {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.card-tag-highlight{
    border-left: 4px solid rgb(33, 180, 185);
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: rgba(8, 252, 154, 0.081);
}